/* blueprints/webapp/static/styles.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

body {
    background-color: #212121;
    color: #e0e0e0;
}

h1, h2 {
    font-family: "Noto Serif", serif;
    font-weight: 300;
}

/* Scrollbar styling */
::-webkit-scrollbar {
    width: 0.8vw;
}

::-webkit-scrollbar-track {
    background: #1a1a1a;
}

::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 0.4vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #444;
}


#popup-container {
    position: absolute;
    align-self: center;
    z-index: 99999;

    top: 30px;
    max-width: 100%;

    padding: 30px;
    border-radius: 15px;
}

#popup-container:has(input[type="checkbox"]:checked) {
    animation: popup-disappear 0.3s forwards;
}

#popup-container label:has(> input[type="checkbox"]) {
    position: absolute;
    top: 10px;
    right: 10px;

}

@keyframes popup-disappear {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20vh);
        opacity: 0;
        display: none;
    }
}


.btn {
    padding: 10px;
    border: none;
    border-radius: 9px;
    background-color: #676767;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #707070;
}


.btn-icon {
    background: transparent;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

.btn > img {
    height: 30px;
    width: 30px;
}

.text-input-container {
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
}

.text-input {
    padding: 10px;
    border: 1px solid #333;
    border-radius: 9px;
    background-color: #212121;
    color: #e0e0e0;
    margin: 5px 0;
}

.combo-box {
    padding: 10px 30px 10px 10px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #1f1f1f;
    color: #e0e0e0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 4 5"><path fill="%23e0e0e0" d="M2 0L0 2h4zM2 5L0 3h4z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

.combo-box option {
    background-color: #1f1f1f;
    color: #e0e0e0;
}


.hover:hover {
    background-color: #5a2a2a;
}

.fill-width {
    width: 100%;
}

.fill-height {
    height: 100%;
}

.size-min-content {
    width: min-content;
    height: min-content;
}

.relative {
    position: relative;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1
}


.flex-content-center {
    justify-content: center;
    align-items: center;
}

.flex-self-center {
    align-self: center;
}

.flex-grow {
    flex-grow: 1;
}

.space-between {
    justify-content: space-between;
}

.no-decor {
    text-decoration: none;
    list-style: none;
}

.hidden {
    display: none;
}

.bold {
    font-weight: bold;
}

.rounded-corners {
    border-radius: 10px;
}

.white {
    color:white;
}

.bg-gray {
    background-color: gray;
}

.bg-error {
    background-color: #8d4d4d;
}

.bg-success {
    background-color: #4d8d4d;
}

.bg-info {
    background-color: #4d8d8d;
}

.pad-16 {
    padding: 16px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #676767;
    border-radius: 50%;

    width: 20px;
    height: 20px;

    animation: spin 1s linear infinite;
}

.shrink {
    animation: shrink 0.18s forwards
}

@keyframes shrink {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(0)
    }
}

.expand {
    animation: expand 0.18s forwards;
}

@keyframes expand {

    0% {
        transform: scale(0)
    }
    100% {
        transform: scale(1)
    }
}

.spin-infinite {
    animation: spin 2s linear infinite;
}


@keyframes spin {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}