{% extends "base.html" %}
{% block title %}Settings {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for("cfg.static",filename="styles/config.css") }}"/>
{% endblock %}

{% block content %}
    <div class="config-wrapper">
        <h1>Retrieval Augmented Generation</h1>
        <div>
            <h2>Configurations</h2>
            <br>
            <p>(Click on a configuration to navigate to a new conversation with this config)</p>
            <div class="config-list">
                {% for config in configs %}
                    <a href="{{ url_for("chat.new",config_id=config.id) }}">
                        <div class="config-item">
                            <div class="config-header">
                                <span><strong>{{ config.name }}</strong></span>
                                {% if not config.is_default %}
                                    {# form cuz anchor in anchor doesn't work' #}
                                    <form action="{{ url_for("cfg.delete",cfg_id=config.id) }}">
                                        <button type="submit"
                                                class="btn primary md bg-none flex-row flex-content-center">
                                            <img class="icon medium" src="{{ url_for("static",filename="icons/trashcan.svg") }}"
                                                 alt=""/>
                                        </button>
                                    </form>
                                {% endif %}
                            </div>
                            <div class="config-details">
                                <p>Model id: {{ config.model_id }}</p>
                                <p>Model name: {{ config.model_name }}</p>
                                <p>Chunk Size: {{ config.chunk_size }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <a href="{{ url_for("cfg.create") }}">
            <div class="btn primary nowrap">
                Create new
            </div>
        </a>
    </div>

{% endblock %}
