.nav-container {
    width: 200px;
    height: 100vh;
    position: fixed;
    left: -200px;
    top: 0;
    background-color: #1f1f1f;
    transition: left 0.3s ease;
    z-index: 1000;
    padding: 10px;
    padding-top: 60px;
    border-right: 1px solid #333;
}

.nav-container.visible {
    left: 0;
}


.toggle-btn {
    position: fixed;
    left: 20px;
    top: 20px;
    z-index: 1100;
    background-color: #1f1f1f;
    border: 0 solid #333;
    color: #e0e0e0;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: left 0.3s ease, background-color 0.3s;
}

.toggle-btn:hover {
    background-color: #333;
}

.nav-container.visible + .toggle-btn {
    left: 220px;
}

/* Nav items */
.nav-item {
    margin: 5px 0;
    transition: background-color 0.3s, color 0.3s;
    list-style: none;
    border-radius: 10px;
}

.nav-item:hover {
    background-color: #333;
}

.nav-item.active {
    background-color: #8d4d4d;
    color: white;
}

.nav-item.active a {
    color: white;
}

.nav-item a {
    color: #e0e0e0;
    text-decoration: none;
    display: block;
    padding: 10px;
}

.nav-item a div {
    padding: 3px 0;
}