<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href= "{{ url_for('webapp.static',filename='styles.css') }}"/>
    {% block stylesheets %}  {% endblock %}
    <title>{% block title %}TITLE NOT SET{% endblock %}</title>
    {% block scripts %}  {% endblock %}
</head>
<body>
<div id="base-container">
    {% include "side_navigation.html" %}

    <main class="flex-col fill-width flex-content-center">
        {% block content %}
        {% endblock %}
    </main>
</div>
</body>
</html>