{% extends "base.html" %}
{% block title %}Chat{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('webapp.static',filename='styles/chatArea.css') }}"/> {% endblock %}
{% block content %}

    {#  Chat container #}
    <div class="chat-container-wrapper">
        <div class="chat-container">
            {% for message in messages %}
                <div class="message right">
                    {{ message.message }}
                </div>
                {% if message.response is not none %}
                    <div class="message left">
                        {{ message.response }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

    {#  <!-- Fixed input at bottom (no gap) --> #}
    <div class="chat-input-container">
        <form action="{{ url_for('webapp.chat.send',conversation_id=request.path.split("/")[-1]) }}" id="messageInput"
              class="chat-input-area">
            <textarea class="text-input" placeholder="Type your message here" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>



    <script src="{{ url_for('webapp.static', filename="scripts/chatHandler.js") }}"></script>
{% endblock %}