{% extends "base.html" %}
{% block title %}Sessions{% endblock %}
{% block content %}

    <div>
        Active session: {{ active_session if active_session else "No active session" }}
    </div>

    {% if action_success is not none %}
        <div class="pad-16 rounded-corners {{ "bg-success" if action_success else "bg-error" }}">
            msg: {{ action_msg }}
        </div>
    {% endif %}
    <form action="{{ url_for("webapp.sessions.add") }}" method="post">
        <label>
            Session name
            <input type="text" name="name" placeholder="Name" class="text-input">
        </label>
        <input type="submit" value="Create session" class="btn">
    </form>
    {% if sessions is defined and sessions|length > 0 %}
        <form method="post">
            <label>
                Session name
                <select name="name" class="combo-box">
                    {% for session in sessions %}
                        <option value="{{ session }}">{{ session }}</option>
                    {% endfor %}
                </select>
            </label>
            <div class="flex-row">
                <input type="submit" formaction="{{ url_for("webapp.sessions.select") }}" value="Select session"
                       class="btn">
                <input type="submit" formaction="{{ url_for("webapp.sessions.delete") }}" value="Delete session"
                       class="btn">
            </div>
        </form>
    {% else %}
        <div>
            No sessions available. Please create a new one
        </div>
    {% endif %}

{% endblock %}