{#
Map of navigation items -> its "route" within webapp blueprint
Requires the styles.css file
#}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('webapp.static',filename='styles/navBar.css') }}"/> {% endblock %}
{% block scripts %}
    <script src="{{ url_for('webapp.static', filename='scripts/navbarHandler.js') }}"></script>{% endblock %}
{% set navTabs = [{"name":"Settings","route":"cfg.index"}] %}

<button id="toggleNav" class="toggle-btn">‹</button>

<nav id="navBar" class="nav-container">

    <ul id="topButtonContainer">

        <li>
            <a href="{{ url_for("webapp.chat.new") }}">
                <div id="newChatButtonPlaceholder">
                </div>
            </a>
        </li>
        <!--        <button id="searchButton" class="search-btn">S</button>-->
    </ul>

    <ul>
        {% for tab in navTabs %}
            <li class="nav-item {{ "active" if request.endpoint == ('webapp.' + tab['route']) else "" }}">
                <a href="{{ url_for("webapp." + tab['route']) }}">
                    <div>{{ tab["name"] }}</div>
                </a>
            </li>
        {% endfor %}
    </ul>

    {# --- Existing Chat History --- #}
    <div class="chat-history">
        <ul id="chatList">
            {% for conv in conversations %}
                <li class="flex-row nav-item {{ "active" if request.endpoint == 'webapp.chat.index' and  conversation_id == conv.id else "" }}">
                    {# Make sure this link goes somewhere, e.g., /chat/{{ chat.id }} #}
                    <a class="flex-1"
                       href="{{ url_for("webapp.chat.index",conversation_id=conv.id) }}">{{ conv.title }}</a>
                    <button class="btn-icon" data-conversation-id="{{ conv.id }}" onclick="toggleMenu(event)">
                        <img src="{{ url_for('webapp.static',filename="icons/view_more.svg") }}"
                             aria-label="Expand submenu"
                             alt="" width="16" height="16">
                    </button>
                </li>
            {% endfor %}
        </ul>
    </div>

    {# --- Context Menu for Conversations --- #}
    <div id="conversationContextMenu" class="conversation-context-menu">
        {# After deleting a conversation user is redirected to the first conversation. if current conversation == first conversation redirect to the second one. #}
        {% set redirectURL = (url_for("webapp.chat.index",conversation_id=(conversations[0].id if conversation_id != conversations[0].id else conversations[1].id)) if conversations | length > 1 else url_for("webapp.cfg.index")) %}
        <button class="btn-icon conversation-context-entry delete"
                onclick="deleteConversation('{{ url_for("webapp.chat.delete",id=-1) }}',{{ conversation_id if conversation_id is defined else "null" }},'{{ redirectURL }}')">
            <span>Delete </span>
            <img src="{{ url_for('webapp.static',filename="icons/trashcan.svg") }}" aria-label="Delete conversation"
                 alt="" width="16" height="16">
        </button>
    </div>
</nav>
<button id="newChatButton" class="new-chat-btn">+</button>