{#
Map of navigation items -> its "route" within webapp blueprint
Requires the styles.css file
#}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('webapp.static',filename='styles/navBar.css') }}"/>
{% endblock %}
{% block scripts %}
    <script src="{{ url_for('webapp.static', filename='scripts/navbarHandler.js') }}" defer></script>
{% endblock %}

<nav id="navBar" class="nav-container">
    <div id="sidebarButtonsContainer">
        <button id="toggleNav" class="btn toggle-btn">‹</button>
        <a href="{{ url_for("webapp.chat.new") }}">
            <button id="newChat" class="btn new-chat-btn">+</button>
        </a>
    </div>
    <ul class="chats">
        {% for conv in conversations %}
            <li class="nav-item {{ "active" if request.endpoint == 'webapp.chat.chat' and request.path.split("/")[-1] | int == conv.id else "" }}">
                <a href="{{ url_for("webapp.chat.chat",conversation_id=conv.id) }}">
                    <div>{{ conv.title }} {{ conv.id }}</div>
                </a>
                <button class="btn-icon" data-conversation-id="{{ conv.id }}" onclick="toggleMenu(event)">
                    <img src="{{ url_for('webapp.static',filename="icons/view_more.svg") }}" aria-label="Expand submenu"
                         alt="" width="16" height="16">
                </button>
            </li>
        {% endfor %}
    </ul>
    <div class="bg-gray">
        settings
    </div>

    <div id="conversationContextMenu" class="conversation-context-menu">
        <button class="btn-icon conversation-context-entry" onclick="deleteConversation()">
            <span>Delete </span>
            <img src="{{ url_for('webapp.static',filename="icons/trashcan.svg") }}" aria-label="Delete conversation"
                 alt="" width="16" height="16">
        </button>
    </div>
</nav>
